.chat-container {
  position: fixed;
  left: 72px;
  right: 72px;
  top: 56px;
  bottom: 72px;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  box-sizing: border-box;
}

.messages-card {
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.author {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.time {
  color: #666;
  font-size: 0.7em;
  display: flex;
}

.message {
  font-size: medium;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.mat-list-item {
  align-items: flex-start !important;
}

.welcome-message {
  color: #666;
  font-style: italic;
}
