<form class="message-form">
  <mat-form-field class="message-full-width">
    <mat-label>Сообщение</mat-label>
    <input
      matInput
      placeholder="Введите сообщение:"
      appEnterSubmit (appEnterSubmit)="sendMessage()"
      [(ngModel)]="newMessage"
      name="chatMessage">
  </mat-form-field>
</form>

<section>
  <div class="button-row">
    <button
      mat-raised-button
      type="submit"
      [disabled]="!newMessage?.trim()"
      (click)="sendMessage()">
        Отправить
    </button>
  </div>
</section>
